.page{
	padding: 0px 15px 15px;
}
.search-form .form-group{
	margin-bottom: 10px!important;
	margin-right: 10px;
}
.panel-toolbar{
	margin: 0 0 15px 15px;
}
.admin-breadcrumb{
	background:#f3f3f4;
}
.table-pager{
	margin: 0 15px 15px;
}
.table-pager .pager{
	margin: 0px;
}
/* table*/
.dataTables_wrapper .dataTables_length {
	margin-left: 15px;
    margin-top: 0.755em;
}
.dataTables_length label {
    font-weight: normal;
}
.dataTable thead tr{
	background-color: #f1f1f1;
}
.dataTable thead th{
	border-bottom: 1px solid #ddd!important;
}
.dataTables_wrapper .dataTables_info{
	margin-left: 15px;
}
.dataTables_wrapper .dataTables_paginate{
	margin-right: 15px;
}
table.dataTable.no-footer {
    border-bottom: 1px solid #ddd!important;
}
table.dataTable thead th, table.dataTable thead td{
	padding: 10px!important;
}
table.dataTable tbody tr:last-child td{
	border-bottom: 1px solid #ddd;
}
table.dataTable tr.active:hover>td{
	background-color: #ffdea2;
}
table.dataTable tr.active>td{
	background-color: #ffe7bc;
}